---
import Container from "@/components/Container.astro";
import Paw from "@/assets/Paw.astro";
---

<footer class="bg-ula-blue py-6 text-white text-center text-sm">
  <Container>
    <p class="flex gap-2 justify-center items-center">Tots els drets reservats <Paw /> ULAVET Clinica Veterinària</p>
  </Container>
</footer>
