---
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import logo from "@/assets/logo.png";
---

<header id="nav" class="fixed inset-0 bottom-auto z-50 p-8 transition-all">
  <Container>
    <nav class="flex items-center justify-between">
      <a id="logo" href="/" class:list={["h-20 h-28 transition-all"]}>
        <Image
          src={logo}
          alt="ULAVET Logo"
          class="w-auto h-full object-contain"
        />
      </a>

      <ul
        class="lg:flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:space-x-8 xl:space-x-16 hidden"
      >
        <li
          class="font-semibold text-lg hover:text-ula-green transition mb-5 lg:mb-0"
        >
          <a href="#inici">Inici</a>
        </li>

        <li
          class="font-semibold text-lg hover:text-ula-green transition mb-5 lg:mb-0"
        >
          <a href="#serveis">Serveis</a>
        </li>

        <li
          class="font-semibold text-lg hover:text-ula-green transition mb-5 lg:mb-0"
        >
          <a href="#galeria">Galeria</a>
        </li>

        <li
          class="font-semibold text-lg hover:text-ula-green transition mb-5 lg:mb-0"
        >
          <a href="#contacte">Contacte</a>
        </li>
      </ul>

      <a
        href="https://wa.me/34611092251/"
        rel="noreferrer"
        target="_blank"
        class="lg:hidden px-5 py-3 block border-2 border-ula-green rounded-lg font-semibold text-ula-green text-lg hover:bg-ula-green hover:text-white transition"
      >
        Demanar cita
      </a>
      <a
        href="tel:0034611092251"
        rel="noreferrer"
        class="hidden xl:block px-5 py-3 lg:block border-2 border-ula-green rounded-lg font-semibold text-ula-green text-lg hover:bg-ula-green hover:text-white transition"
      >
        Demanar cita
      </a>
    </nav>
  </Container>
</header>

<script>
  const nav = document.querySelector("#nav");
  const logo = document.querySelector("#logo");

  let isScroll = false;

  window.addEventListener("scroll", () => {
    const { scrollY } = window;

    if (scrollY > 125) {
      nav?.classList.add("bg-white", "border-b", "py-4");
      logo?.classList.remove("h-28");
    } else if (scrollY < 25) {
      nav?.classList.remove("bg-white", "border-b", "py-4");
      logo?.classList.add("h-28");
    }
  });
</script>
