---
import Star from "@/assets/Star.astro";

interface Props {
  avatar: string;
  name: string;
  review: string;
}

const { avatar, name, review } = Astro.props;
---

<div
  class="relative flex flex-col gap-2 bg-gray-100 rounded-lg mb-10 md:mb-0 p-6 lg:p-8 w-64 lg:w-80 aspect-square overflow-hidden"
>
  <picture>
    <img src={avatar} alt={name} class="w-12" />
  </picture>

  <header class="flex flex-col">
    <h3 class="font-semibold text-gray-900 text-xl">
      {name}
    </h3>

    <div class="flex items-center gap-1 text-yellow-500">
      <Star />
      <Star />
      <Star />
      <Star />
      <Star />
    </div>
  </header>

  <p class="font-normal text-gray-400 line-clamp-4 lg:line-clamp-6">
    {review}
  </p>
</div>
