---
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import home from "@/assets/home.jpg";
---

<section
  id="inici"
  class="bg-gradient-to-tr from-ula-green/50 to-25% to-transparent h-screen px-4"
>
  <Container>
    <div class="flex items-center justify-center xl:justify-start h-full">
      <div class="mt-18 text-center xl:text-left max-w-xl z-10">
        <h1
          class="font-semibold text-4xl md:text-6xl lg:text-7xl text-gray-900 mb-6"
        >
          La millor cura per
          <br />
           als teus <span class="font-bold text-ula-green">amics</span>
        </h1>

        <p class="font-normal text-xl leading-relaxed mb-12">
          Descobriu un espai dedicat a la cura integral de gats i gossos. Confia
          en nosaltres per al benestar i la felicitat dels teus fidels companys.
        </p>

        <a
          href="#contacte"
          class="px-5 py-3 bg-ula-blue border-2 border-ula-blue text-white font-semibold text-lg rounded-xl hover:saturate-150 transition"
        >
          Contacta'ns
        </a>
      </div>

      <div
        class="absolute block z-0 top-0 right-0 w-full xl:w-auto h-screen opacity-25 xl:opacity-100"
      >
        <Image
          src={home}
          alt="ULABET portada"
          loading="eager"
          class="h-full w-full xl:w-auto object-cover"
        />
      </div>
    </div>
  </Container>
</section>
