---
import Container from "@/components/Container.astro";
import posts from "@/assets/posts.json";
---

<section id="galeria" class="bg-white pt-32">
  <Container>
    <div class="flex flex-col items-center gap-12">
      <h2 class="font-semibold text-gray-900 text-4xl text-center">
        Últimes publicacions
      </h2>

      <ul
        class="max-w-5xl flex justify-center flex-wrap gap-8 [&>li:nth-child(n+5)]:hidden md:[&>li:nth-child(n+5)]:block"
      >
        {
          posts.map(({ src, alt }) => (
            <li>
              <picture>
                <img
                  src={src}
                  alt={alt}
                  width="300"
                  height="300"
                  loading="lazy"
                  decoding="async"
                  class="rounded-lg border-4 border-white shadow-lg shadow-ula-blue/40"
                />
              </picture>
            </li>
          ))
        }
      </ul>

      <a
        href="https://www.instagram.com/ulavetclinicaveterinaria/"
        target="_blank"
        rel="noreferrer"
        class="px-5 py-3 bg-ula-blue border-2 border-ula-blue text-white font-semibold text-lg rounded-xl hover:saturate-150 transition"
      >
        Veure mes publicacions
      </a>
    </div>
  </Container>
</section>
