---
import Container from "@/components/Container.astro";
import Marquee from "@/components/Marquee.astro";
import { reviews } from "@/assets/reviews";
---

<section class="bg-ula-blue pt-10 md:py-16 mt-32">
  <Container>
    <h2 class="font-semibold text-gray-100 text-4xl text-center mb-14">
      Que diuen els nostres clients
    </h2>

    <Marquee items={reviews} />
  </Container>
</section>
