<li
  class="flex flex-col gap-4 justify-center w-full md:w-1/3 px-4"
>
  <picture
    class="h-20 aspect-square mx-auto bg-gray-100 rounded-lg flex items-center justify-center mb-5 md:mb-0"
  >
    <slot name="icon" />
  </picture>

  <div>
    <h3 class="font-semibold text-gray-900 text-2xl mb-2">
      <slot name="title" />
      <p class="font-normal text-xl leading-relaxed text-ula-blue">
        <slot name="desc" />
      </p>
    </h3>
  </div>
</li>
