---
import Container from "@/components/Container.astro";
import Marquee from "@/components/Marquee.astro";
import { reviews } from "@/assets/reviews";
---

<section class="mt-32 pt-10 md:py-16">
  <h2 class="mb-14 text-center text-4xl font-semibold text-gray-900">
    Que diuen els <span class="font-bold text-ula-blue">nostres clients</span>
  </h2>

  <Marquee items={reviews} />
</section>
