---
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import ServiceCard from "@/components/ServiceCard.astro";
import docCat from "@/assets/dog-cat.jpg";
import Flask from "@/assets/Flask.astro";
import Heart from "@/assets/Heart.astro";
import Stethoscope from "@/assets/Stethoscope.astro";
import Picture from "@/assets/Picture.astro";
import Vaccine from "@/assets/Vaccine.astro";
import Feather from "@/assets/Feather.astro";
import Ribbon from "@/assets/Ribbon.astro";
import Report from "@/assets/Report.astro";
import Bag from "@/assets/Bag.astro";
---

<section id="serveis" class="bg-white px-4 pt-32">
  <Container>
    <div class="flex flex-col items-center gap-20 text-center">
      <header class="max-w-xl">
        <h2 class="text-4xl font-semibold leading-normal text-gray-900">
          Serveis <span class="font-bold text-ula-green">ULAVET</span>
        </h2>
      </header>

      <ul class="flex flex-wrap items-start justify-center gap-y-8">
        <ServiceCard>
          <Fragment slot="icon">
            <Flask />
          </Fragment>
          <Fragment slot="title">Medicina Preventiva</Fragment>
          <Fragment slot="desc">
            És l'especialitat que ens permet prevenir moltes malalties com les
            infeccioses, parasitàries, periodontals o el diagnòstic precoç de
            diverses patologies. Inclou visites de revisions anuals, vacunes,
            plans de desparasitació interna i externa, primo-vacunacions de
            cadells i controls geriàtrics.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Heart />
          </Fragment>
          <Fragment slot="title">Medicina Interna</Fragment>
          <Fragment slot="desc">
            S'enfoca en l'estudi, diagnòstic i tractament de malalties que
            afecten els òrgans interns dels nostres peluts.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Stethoscope />
          </Fragment>
          <Fragment slot="title">Cirurgia General</Fragment>
          <Fragment slot="desc">
            Del diagnòstic al tractament de malalties mitjançant procediments
            quirúrgics. Comptem amb un quiròfan completament equipat i una sala
            de recuperació/hospitalització pre i postquirúrgica.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Picture />
          </Fragment>
          <Fragment slot="title">Diagnòstic per Imatge</Fragment>
          <Fragment slot="desc">
            Especialitat necessària per diagnosticar i tractar diverses
            patologies. Disposem de raigs X digitals i un ecògraf d'última
            generació.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Vaccine />
          </Fragment>
          <Fragment slot="title">Anàlisi Clínica</Fragment>
          <Fragment slot="desc">
            L'estudi de components biològics facilita diagnòstics prematurs.
            Disposem de laboratori propi per hematologia, bioquímica,
            uroanàlisis, citologies, test de femtes i malalties parasitàries o
            infeccioses, a més de col·laboració amb un laboratori extern.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Feather />
          </Fragment>
          <Fragment slot="title">Dermatologia</Fragment>
          <Fragment slot="desc">
            Els problemes dermatològics són molt comuns en visites veterinàries,
            afectant tant gossos com gats de totes les edats, tot i que algunes
            malalties són específiques d'algunes races.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Ribbon />
          </Fragment>
          <Fragment slot="title">Oncologia</Fragment>
          <Fragment slot="desc">
            El diagnòstic de patologies oncològiques ha augmentat, amb noves
            proves i teràpies. Oferim tractaments especialitzats i acompanyament
            familiar durant tot el procés.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Report />
          </Fragment>
          <Fragment slot="title">Espcialitats Mèdiques Externes</Fragment>
          <Fragment slot="desc">
            Comptem amb especialistes en cardiologia i oftalmologia in situ, i
            derivacions a centres de referència per a serveis de TAC/RM,
            cirurgia mínima invasiva, traumatologia i neurologia.
          </Fragment>
        </ServiceCard>

        <ServiceCard>
          <Fragment slot="icon">
            <Bag />
          </Fragment>
          <Fragment slot="title">Botiga Veterinària Especialitzada</Fragment>
          <Fragment slot="desc">
            Troba productes de qualitat a la nostra botiga, incloent dietes de
            prescripció veterinària, dietes bio i accessoris per a la salut i
            benestar de les vostres mascotes.
          </Fragment>
        </ServiceCard>
      </ul>

      <picture class="flex w-full justify-center">
        <Image
          src={docCat}
          alt="ULAVET Gos i gat"
          class="aspect-video w-full object-cover md:w-2/3"
        />
      </picture>
    </div>
  </Container>
</section>
